{% extends 'base_account.html' %}
{% block title %}RC  Восстановление пароля{% endblock %}
{% block tittle %}RC{% endblock %}
{% block h1 %}Восстановление пароля{% endblock %}

{%  block card_form %}
  <p>
   На ваш email отослана инструкция по восстановлению пароля, если пользователь с таким email существует

  </p>
  <p>
  Если вы не получили письмо, убедитесь, что в системе вы ввели имено этот email и проверьте папку spam

  </p>
{% endblock %}
{% block card-footer %} {% endblock %}
{% block footer  %} {% endblock %}