{% extends 'base_account.html' %}

{% block title %}RC  Восстановление пароля{% endblock %}
{% block tittle %}RC{% endblock %}
{% block h1 %}Восстановление пароля{% endblock %}
{% block card_form  %}
  {% if validlink %}
    <h3>Change password</h3>
      <form method="post" >
                                {% csrf_token %}
                                {% include 'includes/formsonecolumn.html' %}
                                <button class="btn btn-primary btn-block mt-2" type="submit">
                                    {% block button-caption %}
                                    Изменить пароль?
                                    {% endblock %}
                                </button>
      </form>


  {% else %}
    <p>
     Ссыллка для восстановления не правильная, возмоджнно она уже а использовалась. Пожалуйста повторите запрос.

    </p>
  {% endif %}
{% endblock %}