{% load static %}

    <form  id="update-request-form" method="post" novalidate id="update-request-form">
        <div class="id hiden" id="id">{{ form.instance.id }}</div>
          {% csrf_token %}
           <div id="update-request-error-message"></div>
          {% include 'includes/forms.html' %}
        <!-- <a id="btn_save_new"  class="btn btn btn-primary  mt-2 btn-sm" >Сохранить</a> -->
        <div id="departures">
        <h2>Выезды</h2>
         <div class="row" id="add-dep-row"><div class="col-4 col-offset-4"><a id="add-departure" class="btn  btn-sm btn-outline-secondary">Новый выезд</a>  </div></div>
        </div>
        {{ departures.management_form }}
        <div id="empty-form">
            <div class="row"><div class="col-12">Выезд №<span class="dep-number"></span></div></div>
            {%  with   departures.empty_form as form %}

             {% include 'includes/forms.html' %}
            {% endwith %}
        </div>

            {%  for form in   departures.forms %}
            <div id ="form_departure-{{forloop.counter }}" > <!-- {% if forloop.last %} class="hiden" {% endif %}-->
            <div class="row">Выезд №<span class="dep-number">{{ forloop.revcounter }}</span></div>
            {% include 'includes/forms.html' %}
            <div class="row"><div class="col-4 col-offset-4"><a id="del-{{forloop.revcounter }}" class="btn  btn-sm btn-outline-secondary">Удалить</a>  </div></div>
            </div>

        {% endfor %}


          <!--<button type="button" class="btn  mt-2 btn-sm btn-outline-secondary" data-dismiss="modal" aria-label="Close" >
                               Выйти
                        </button> -->


    </form>