{% load static %}
 <div class="box-modal" id="updateForm">
                <div class="block top-block">
                      <div class="box-modal_close arcticmodal-close">X</div>
                      <div class="number-new" id="number-new">Заявка № {{ form.instance.number }} <span class="status-closed"></span> </div>

                </div>
                <div class="block main-block">
                    <div class="wait-block" id="updateModal_wait"></div>

                    <form  id="update-request-form" method="post" novalidate >
                        <div id="update-from-main-form">
                            <div class="id hiden" id="id">{{ form.instance.id }}</div>
                            {% csrf_token %}
                            <div id="update-request-error-message"></div>
                            {% include 'includes/arctic-form/form.html' %}
                            {% include 'includes/hiden_profiles.html' %}
                             <div class="hidden"></div>
                             <div class="row">

                                   <div style="display: none;">
                                       <div class=" alert box-modal message-model" id="update-form__message">
                                           <div class="block top-block">
                                             <div class="box-modal_close arcticmodal-close">X</div>
                                           </div>
                                           <div class="block main-block">
                                                <p>

                                                </p>
                                              <button type="button" class="btn btn-smm arcticmodal-close"   > Выход  </button>
                                            </div>
                                       </div>
                                   </div>
                            </div>
                        </div>
                        <div id="departures">
                                <div class="row">
                                    <div class="col-12">
                                    <h2>выезды</h2>
                                    </div>
                                </div>



                            {{ departures.management_form }}
                            <div  id="empty-form" class="departure-part-form">
                                <div class="row"><div class="col-12"><h3>Выезд №<span class="dep-number"></span></h3></div></div>
                                {%  with   departures.empty_form as form %}

                                 {% include 'includes/arctic-form/form.html' %}
                                {% endwith %}
                            </div>

                            {%  for form in   departures.forms %}
                            <div class="departure-part-form" id ="form_departure-{{forloop.counter  }}" > <!-- {% if forloop.last %} class="hiden" {% endif %}-->
                                <div class="row"><div class="col-12"><h3>Выезд №<span class="dep-number">{{ forloop.counter }}</span></h3></div></div> <!--{{ forloop.revcounter }} -->
                                <div class="col-12">
                                    {% include 'includes/arctic-form/form.html' %}
                                 </div>
                          <!--  <div class="row"><div class="col-4 col-offset-4"><a id="del-{{forloop.revcounter }}" class="btn  btn-sm btn-outline-secondary">Удалить</a>  </div></div> -->
                                </div>

                            {% endfor %}

                            {% if add_departure in perms %}
                              <div class="row" id="add-dep-row"><div class="col-4 col-offset-4"><a id="add-departure" class="btn  btn-sm btn-outline-secondary">Новый выезд</a>  </div></div>
                            {% endif %}
                            </div>

                          <!--<button type="button" class="btn  mt-2 btn-sm btn-outline-secondary" data-dismiss="modal" aria-label="Close" >
                                               Выйти
                                        </button> -->


                    </form>
                </div>
                <div class="block">
                <div class="row">
                <div class="col-12">
                    {% if can_save %}
                     <button  type="button" class="btn btn-smm"  id="save-update-request">Сохранить</button>
                    {% endif %}
                    <button type="button" class="btn btn-smm arcticmodal-close"  id="update-request__btn-close" > Выход  </button>

                </div>
                </div>
                </div>
 </div>