<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="newRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" >
            <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Новая завка</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">
                     <div class="wait-block">Сохранение заявки</div>



                    </div>
                    <div class="modal-footer">
                         <a id="btn_new_request_correct"  class=" btn  mt-2 btn-sm hiden"  >Редактировать заявку</a>

                         <a id="btn_save_new"  class=" btn btn-primary  mt-2 btn-sm" >Сохранить</a>


          <!--<a  href="{%  url 'list_view' %}" class="btn  mt-2 btn-outline-secondary btn-sm" id="new-request__btn-close" >Выйти</a>-->
         <button type="button" class="btn  mt-2 btn-sm btn-outline-secondary" data-dismiss="modal" aria-label="Close" >
                               Выйти
                        </button>


                    </div>



            </div>
        </div>
    </div>