{% load static %}
{% load  form_tags widget_tweaks %}

{% for req in list_requests %}
    <div class="row" >
           <div class="col-1  align-content-center ">
               <span class="align-content-center  " > {{ req.number }}</span>

                <div class="hidden"><a href="{% url 'correct_request' req.id %}'"></a></div>

           </div>
           <div class="col-5 about d-none d-sm-block  ">
               <i > {{ req.about }}</i>
           </div>
           <div class="col-2 d-none d-lg-block">
               <small class="text-muted d-block">{{ req.request_dateTime }}<br></small>
               {{ req.str_user_request }}<br>
               <small class="text-muted d-block">{{ req.str_user_status }}</small>
               <small class="text-muted d-block">{{ req.str_user_deparment }}</small>
           </div>
            <div class="col-1 about d-none d-lg-block">
                {{ req.place.name }}
            </div>
            <div class="col-1 d-none d-lg-block"></div>
            <div class="col-1 d-none d-lg-block">
               {{ req.receive_user.user.first_name }} {{ req.receive_user.user.last_name }}<br>
               <small class="text-muted d-block">{{ req.str_receive_dateTime }}</small>
            </div>
            <div class="col-1 d-none d-lg-block">
                {{ req.close_user.user.first_name }} {{req.close_user.user.last_name }}<br>
                 <small class="text-muted d-block">{{ req.str_close_dateTime }}</small>
            </div>
            <div class="col-11 col-md-6 col-sm-6 visible-md d-block d-lg-none ">
                <span class="text-muted d-block">Принял<br></span>
                <small class="text-muted d-block">{{ req.request_dateTime }}<br></small>
               {{ req.str_user_request }}<br>
               <small class="text-muted d-block">{{ req.str_user_status }}</small>
               <small class="text-muted d-block">{{ req.str_user_deparment }}</small>
               <span class="text-muted d-block">Место<br></span>
               {{ req.place.name }}<br>
                <span class="text-muted d-block">Принял<br></span>
                {{ req.receive_user.user.first_name }} {{ req.receive_user.user.last_name }}<br>
               <small class="text-muted d-block">{{ req.str_receive_dateTime }}</small>
                <span class="text-muted d-block">Закрыл<br></span>
                {{ req.close_user.user.first_name }} {{req.close_user.user.last_name }}<br>
                 <small class="text-muted d-block">{{ req.str_close_dateTime }}</small>
            </div>
    </div>
    {% empty %}
     <p>Заявок не найдено!</p>
{%  endfor %}

