{% load static %}
 <div class="pagination-row" id="pagination-row">
    <div >
        <div class="container">
        <div class="col-12">
        <nav aria-label="Page navigation example justify-content-center">
         <ul class="pagination ">
             {% if list_requests.has_previous %}
                 <li class="page-item">
                  <a class="page-link" href="?page={{ list_requests.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
              </li>
              <!--<li class="page-item">
                  <a class="page-link" href="?page={{ list_requests.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                      {{ list_requests.previous_page_number }}
                  </a>
              </li> -->
             {% endif %}

              {%  for current in list_requests.paginator.page_range %}
                  {% if current == list_requests.number %}
                    <li class="active page-item"><a href="?page={{ current }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" class="page-link">{{ current }}</a></li>
                  {% else %}
                     <li class="page-item"><a href="?page={{ current }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" class="page-link">{{ current }}</a></li>
                  {% endif %}
              {% endfor %}


              {% if list_requests.has_next %}
              <!--<li class="page-item">
                  <a class="page-link" href="?page={{ list_requests.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">
                        {{ list_requests.next_page_number }}
                  </a>
              </li> -->
              <li class="page-item">
              <a class="page-link" href="?page={{ list_requests.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            {% endif %}
        </ul>
        </nav>
        </div>
        </div>
    </div>
    </div>