{% extends 'base_form.html' %}
{% load static %}
{% block h1 %}
    Поиск
{% endblock %}
{%  block columns %}
    <div class="col-12 p-0">
{% endblock %}
{%  block  card-body  %}
    <form action="" id="filter-form">
        {% csrf_token %}
        <div class="form-content" id="filter-form-content">
            <div id="error-message"></div>

            {%  include 'includes/form_filter_input.html' %}
            {%  include 'includes/form_filter_request.html' %}
            {%  include 'includes/form_filter_receive.html' %}
            {%  include 'includes/form_filter_closed.html' %}
        </div>
        <div >

             <a href="#" id="hide-filter" class="btn  btn-outline-secondary">Отменить </a>
             <a href="#" id="save-filter" class="btn  btn-outline-secondary">
                         Применить
             </a>

        </div>

    </form>

{% endblock %}