{% load  form_tags widget_tweaks %}



	<div class="row">
        <div class="col-12">
         <h5  class="  align-content-center">Подал заявку</h5>
        </div>
    </div>
   <div class="row">

        <div class="form-group col-lg-7 col-md-12">
			<div class=" row">
                <div class="col-12 col-lg-2 col-md-4 col-sm-3 col-form-label-sm">
				    {{form.request_dateTime_start.label_tag}}
                </div>
                <div class="col-6 col-sm-5 col-md-4 col-lg-5">
				{% render_field form.request_dateTime_start class=form.request_dateTime_start|input_class %}
				{% for error in form.request_dateTime_start.errors %}
      				<div class="invalid-feedback">
        				{{ error }}
      				</div>
    			{% endfor %}
				{% if form.requets_dateTime_start.help_text %}
					<small class="form-text text-muted">
						{{ form.request_dateTime_start.help_text|safe }}
					</small>
				{% endif %}

                 </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-5">
				{% render_field form.request_dateTime_end class=form.request_dateTime_start|input_class %}
				{% for error in form.request_dateTime_end.errors %}
      				<div class="invalid-feedback">
        				{{ error }}
      				</div>
    			{% endfor %}
				{% if form.request_dateTime_end.help_text %}
					<small class="form-text text-muted">
						{{ form.request_dateTime_end.help_text|safe }}
					</small>
				{% endif %}

              </div>

			</div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
            	<div class=" row">
                    <div class="col-lg-4 col-md-4 col-sm-3  col-form-label-sm">
                        {{form.request_user.label_tag}}
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-9 col-8">
                        {% render_field form.request_user class=form.request_user|input_class %}
                        {% render_field form.request_outer_user class=form.request_outer_user|input_class %}
                        {% for error in form.request_user.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                        {% for error in form.request_outer_user.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {% if form.request_user.help_text %}
                            <small class="form-text text-muted">
                                {{ form.input_user.help_text|safe }}
                            </small>
                        {% endif %}

                     </div>
                </div>
        </div>
         <div class="form-group col-lg-5 col-md-12">
                    <div class=" row">
                        <div class="col-lg-2 col-md-4 col-sm-3  col-form-label-sm">
                            {{form.place.label_tag}}
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-9 col-8">
                            {% render_field form.place class=form.place|input_class  autocomplete="off" %}

                            {% for error in form.place.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}


                            {% if form.request_user.help_text %}
                                <small class="form-text text-muted">
                                    {{ form.place.help_text|safe }}
                                </small>
                            {% endif %}

                         </div>
                    </div>
            </div>
   </div>
