{% load  form_tags widget_tweaks %}


	<div class="row">
        <h4 class="mb-0 mt-0">Закрытие заявки</h4>
    </div>
		
    <div class="row">

			<div class="form-group col-md-7">
                <div class="row">
                <div class="col-2 col-form-label-sm">
				    {{form.input_dateTime_start.label_tag}}
                </div>
                <div class="col-5 ">
				{% render_field form.close_dateTime_start class=form.close_dateTime_start|input_class %}
				{% for error in form.close_dateTime_start.errors %}
      				<div class="invalid-feedback">
        				{{ error }}
      				</div>
    			{% endfor %}
				{% if form.close_dateTime_start.help_text %}
					<small class="form-text text-muted">
						{{ form.close_dateTime_start.help_text|safe }}
					</small>
				{% endif %}

                 </div>
            <div class="col-5">
				{% render_field form.close_dateTime_end class=form.close_dateTime_start|input_class %}
				{% for error in form.close_dateTime_end.errors %}
      				<div class="invalid-feedback">
        				{{ error }}
      				</div>
    			{% endfor %}
				{% if form.close_dateTime_start.help_text %}
					<small class="form-text text-muted">
						{{ form.close_dateTime_end.help_text|safe }}
					</small>
				{% endif %}

              </div>
               </div>
			</div>
            <div class="col-md-5">
            	<div class="form-group row ">
                <div class="col col-form-label-sm">
				    {{form.close_user.label_tag}}
                </div>
                <div class="col">
                    {% render_field form.close_user class=form.input_user|input_class %}
                    {% for error in form.close_user.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% if form.close_user.help_text %}
                        <small class="form-text text-muted">
                            {{ form.close_user.help_text|safe }}
                        </small>
                    {% endif %}

                 </div>
                </div>
            </div>
    </div>