.hiden{
	display:none;
}


.block-flex{
	width: 100%;
	display: flex;
	height: 100%;

	display: -webkit-flex;
	display: flex;
	justify-content: center;
    align-items: center;}

.title-block .row{

	position: relative;
    padding-right: 0;
	background: #343a40;;
	color: #fff;
    font-weight: bold;
    font-size: 0.8em;
	text-shadow: 0 1px 0 #000;
}

.title-block [class*='col-' ] {
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px;
	-webkit-align-items: center; /* Safari */
	align-items: center;
	justify-content: center;
	padding-right: 0;

}
.title-block .table-title-row .row div:last-child{
	padding-right: 0;
}
.title-block .table-title-row .row :after {
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

#pagination-row{
    background: #343a40;
    border: none;
}
#pagination-row .row{
    background: #343a40;
    box-shadow: none;
    text-align: center;
}

#pagination-row .container{
    padding: 0;
}

#pagination-row .col-12{
    padding: 0;
    /*background: #343a40;*/
}

#pagination-row ul{
    margin: 0;
    padding: 0;
}

#pagination-row ul li a{
    font-family: 'Audiowide', sans-serif;
    background: transparent;
    color: white;
    border: none;
    font-weight: normal;
    font-size: 0.8em;
    text-shadow:   1px 1px 2px  black;
    border-radius: 0 !important;
}

#pagination-row ul li a:hover{
    color: grey;
}

 #pagination-row .active a.page-link{
     text-shadow: 1px 1px 5px #3a25ab;
     color: #eeeeee;
     background: black;

}

.content-block .row .centered{
	text-align: center;
}

.content-block  .row{
	border-bottom: 1px solid #e5e5e5;
}

.content-block   .row  [class*='col-' ]{
    position: relative;
	padding: 0.2em  3px 0.2em 1em;
    word-wrap: break-word;
    min-height: 3em;
    background: white;

}


.content-block   .row   div:first-child{
    /*box-shadow: inset 1px 0 0 #fff;*/
}
.content-block   .row  [class*='col-' ]:first-child{
	padding-left: 3px;
}

.content-block   .row   div:last-child{
    border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}

.content-block  .row:hover{
	cursor: pointer;
	border-color: #8b98b4;
}
.content-block  .row:hover [class*='col-' ] {
	background-color: #8b98b4;
	border-color: #8b98b4;
    box-shadow:none;

}

.content-block  .row:hover [class*='col-' ] span{

}

.content-block  .row:hover [class*='col-' ] .text-muted{
	color: #231e74 !important;
}

.content-block .about{
	line-height:1em ;
	 font-size: small;
}

.scroll-block{
	overflow-y: scroll;
	max-height: 90vh;
}





/*widjets*/
.custom-combobox .custom-combobox-input{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.ui-menu-item .ui-menu-item-wrapper{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

select[disabled] + .custom-combobox a{
	display: none;
}

select[disabled] + .custom-combobox .custom-combobox-input{
	background: rgb(233, 236, 239);
}

/*form*/
/*.modal form{
 display: none;

}

.modal .form-show{
	display: block;

}

#filterModal form{
	display: block;
}*/