{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} SignUp{% endblock %}</title>
	<link rel="stylesheet" href = "{% static 'libraries/boostrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/form-correct.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/account/account.css' %}" >




  </head>
  <body>


	<div class="container" id="account">
        <h1 class="text-center logo mb-4 acount-header"><span class="header-font">{% block tittle %}RC{% endblock %}</span></h1>
        <div class="row justify-content-center">
            {% block columns %}
            <div class="col-lg-4 col-md-5 col-sm-10">
            {% endblock %}

                <div class="card">
                    <div class="card-body " id="account-body">
                        <h2 class="card-title">{% block h1 %}Log in{% endblock %}</h2>
                            {%  block card_form %}
                            <form method="post" novalidate>
                                {% csrf_token %}
                                {% include 'includes/formsonecolumn.html' %}
                                <button class="btn btn-primary btn-block mt-2">
                                    {% block button-caption %}
                                    Log in
                                    {% endblock %}
                                </button>
                            </form>
                            {% endblock %}
                    </div>
                    <div class="card-footer text-center">
                        {% block card-footer %}
                            New to ? <a href="{% url 'signup' %}">Sign Up</a>
                        {% endblock %}

                    </div>

                </div>
                {% block footer %}
                <div class="text-center py-2 " id="account-footer">
                    <a href="#" class="text-muted">
                        Forgot your password?
                    </a>
                </div>
                {% endblock %}
            </div>
        </div>

	</div>
  </body>
</html>