{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}requests{% endblock %}</title>
	<link rel="stylesheet" href = "{% static 'libraries/boostrap/css/bootstrap.min.css' %}" >
	<link rel="stylesheet" href = "{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{%  static 'css/flex.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/air-datepicker-master/css/datepicker.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">


    {% block stylesheet %} {% endblock %}
  </head>
  <body>
  <div class="wraper-my " id="flex-container">

     {% block body %}
     <div class="raw-item">
     <div class="row-background">
     <nav class="navbar navbar-expand-sm navbar-dark  ">
         <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">RC</a>
                {% if user.is_authenticated %}
                <a class="navbar-toggler" id="userWideMenu" href="#" type="button" data-toggle="collapse" data-target="MainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-cog"></span>
                </a>

                <div id="drop-user-menu-wide" class="dropdown-menu-my wide " aria-labelledby="userMenu"> <!-- dropdown-menu dropdown-menu-right -->
                                        <a class="username" href="#"  >{{ user.username }}</a>
                                        <a class="" href="#">Сменить пароль</a>
                                        <a class="" href="{%  url 'logout' %}">Выход</a>


                </div>

                {% else %}
                     <a href="{% url 'login' %}" class=" navbar-togglerbtn  btn-outline-secondary">Log in</a>

                {% endif %}
                <div class="collapse navbar-collapse" id="mainMenu">

                        {% if user.is_authenticated %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link " href="#" id="userMenu" ><!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" -->
                                        {{ user.username }}
                                    </a>

                                   <div id="drop-user-menu" class="dropdown-menu-my " aria-labelledby="userMenu"> <!-- dropdown-menu dropdown-menu-right -->
                                        <a class="" href="#">Аккаунт</a>
                                        <a class="" href="#">Сменить пароль</a>
                                        <a class="" href="{%  url 'logout' %}">Выход</a>


                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <form class="form-inline ml-auto">
                                <a href="{% url 'login' %}" class="btn  btn-outline-secondary">Log in</a>

                            </form>
                        {% endif %}

              </div>
          </div>

    </nav>
    </div>
    <div class="title-row">
          <div  class ="title-block" >

                {% block title-block %}
                {% endblock %}

        </div>
    </div>
    </div>
     <div class="wait-block">Загрузка страницы</div>
    <div class="container-fluid flex-item">

        <div class="content-block" id="content-block">
		{% block content %}
		{% endblock %}
        </div>

	</div>

     <div class = "footer raw-item  ">
         <div class="footer-add-row">
             <div class="container-fluid">
                 {%  block footer-row %}
                  {% endblock %}
             </div>
         </div>
        <div class="footer-main-row">
             <div class="container">

                    {%  block footer %}
                    {% endblock %}

             </div>
        </div>
     </div>
     <div class="container-fluid">
      {% block  shownblock %}

      {% endblock %}
     </div>


    {% endblock body %}
  </div>

  <script src="{% static 'libraries/jquery-3.2.1.min.js'%}"> </script>

  <script src="{% static 'libraries/popper.min.js'%}"> </script>

  <script src="{% static 'libraries/boostrap/js/bootstrap.js'%}"> </script>



  {% block scripts %}

  {% endblock %}

  </body>
</html>