{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}requests{% endblock %}</title>
	<link rel="stylesheet" href = "{% static 'libraries/boostrap/css/bootstrap.min.css' %}" >
	<link rel="stylesheet" href = "{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{%  static 'css/flex.css' %}">
    <link rel="stylesheet" href="{% static 'libraries/air-datepicker-master/css/datepicker.min.css'%}">



    {% block stylesheet %} {% endblock %}
  </head>
  <body>
  <div class="wraper-my " id="flex-container">

     {% block body %}
     <div class="raw-item">
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
     <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Eptm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="MainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">

                    {% if user.is_authenticated %}
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link  dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user.username }}

                                </a>

                               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                    <a class="dropdown-item" href="#">My account</a>
                                    <a class="dropdown-item" href="#">Change password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{%  url 'logout' %}">Log out</a>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <form class="form-inline ml-auto">
                            <a href="{% url 'login' %}" class="btn  btn-outline-secondary">Log in</a>

                        </form>
                    {% endif %}

          </div>
      </div>

    </nav>
    <div class="title-row">
          <div  class ="title-block" >

                {% block title-block %}
                {% endblock %}

        </div>
    </div>
    </div>
    <div class="container flex-item">
        <div class="content-block" id="content-block">
		{% block content %}
		{% endblock %}
        </div>

	</div>

     <div class = "footer raw-item  ">
     <div class="container">

            {%  block footer %}
            {% endblock %}

     </div>
     </div>
     <div class="container-fluid">
      {% block  shownblock %}

      {% endblock %}
     </div>


    {% endblock body %}
  </div>
  <script src="{% static 'libraries/jquery-3.2.1.min.js'%}"> </script>
  <script src="{% static 'libraries/popper.min.js'%}"> </script>
  <script src="{% static 'libraries/boostrap/js/bootstrap.js'%}"> </script>


  {% block scripts %}

  {% endblock %}

  </body>
</html>