{%  extends 'base.html' %}
{% load static %}
{% block title-block %}
{% block stylesheet %}
    <link href="{% static 'css/home-list/style.css' %}" rel="stylesheet">
    <link href="{% static 'libraries/select2.css'%}" rel="stylesheet">
    <link href="{%  static 'libraries/jquery-ui-1.12.1.custom/jquery-ui.css' %}" rel="stylesheet">
    <link href="{%  static 'libraries/jquery-ui-1.12.1.custom/jquery-ui.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/form-correct.css' %}" rel="stylesheet">

{% endblock %}

    <div class="row">

              <div class="col-1">
                  №
              </div>
              <div class="col-5 d-none d-sm-block">
                О чем заявлено
              </div>

               <div class="col-2 d-none d-lg-block">
                    Поступила
                </div>
                <div class="col-1 d-none d-lg-block">
                     Место
                </div>
                <div class="col-1 d-none d-lg-block">
                     Выезды
                </div>

                <div class="col-1 d-none d-lg-block">
                    Куратор
                </div>
                <div class="col-1 d-none d-lg-block">
                    Закрыл
                </div>
                <div class="col-11 col-md-6 col-sm-6 visible-md d-block d-lg-none">
                    Инфрмация
                </div>

    </div>
{% endblock %}
{% block content %}
    <div class="error-block-message" id="main-form_error"></div>
    {% include 'home-content.html' %}
{%  endblock %}
{% block footer %}
    <div class="row">
    {% if user.is_authenticated %}
        <button href="#" id="new-request" class="btn  btn-outline-secondary">Новая заявка</button>
     {% endif %}
        <a href="#" id="show-filter" class="btn  btn-outline-secondary">Фильтр</a>
    </div>


{% endblock %}
{% block shownblock %}

     <div class="outer_block">
        <div class="block-flex">
            <div class="show-block" id="new-request-block">

            </div>
            <div class="row show-block " id="filter-block">
               <div id="filter-form-content">
                {% include 'includes/filterform.html' %}
               </div>

            </div>
            <div class="show-block" id="correct_request-block">
                <div class="alert alert-error alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong id="correct-request-alert"></strong> You should check in on some of those fields below.
                </div>
            </div>
        </div>
    </div>




 <div class="show-block" id="error-block">
    <p id="error-message"></p>
 </div>


{% endblock %}

{% block scripts %}

  <script src="{% static 'libraries/jquery-ui-1.12.1.custom/jquery-ui.js'%}"></script>
 <script src="{% static 'libraries/air-datepicker-master/js/datepicker.js' %}"></script>
 <script src="{% static 'js/select-widjet.js' %}"></script>
 <script src="{% static 'js/filter-init.js' %}"></script>

 <script src="{% static 'js/home.js' %}"></script>

{% endblock %}