{% extends 'base_account.html' %}
{% load static %}
{% block title %} Eptm Вход{% endblock %}

  {% block columns %}
            <div class="col-lg-4 col-md-6 col-sm-10">
  {% endblock %}
  {% block h1 %}
                Авторизация
  {% endblock %}

 {% block button-caption %}
                                   Вход

 {% endblock %}

                        {% block card-footer %}

                        {% endblock %}

 {% block footer %}
                <div class="text-center py-2">
                    <a href="#" class="text-muted">
                       Забыли пароль?
                    </a>
                </div>
 {% endblock %}