{% extends 'base_account.html' %}

{% load static %}


  {% block columns %}
            <div class="col-lg-8 col-md-10 col-sm-12">
  {% endblock %}
  {% block h1 %}
               Sign Up
  {% endblock %}

 {% block button-caption %}
                                    Create an account

 {% endblock %}

                        {% block card-footer %}
                            Already have account? <a href="#">Log in</a>
                        {% endblock %}

 {% block footer %}

 {% endblock %}