{% extends 'base_account.html' %}
{% load static %}
{% load  form_arctic_tags widget_tweaks %}
{% block title %} RC Пользователь     {% endblock %}

{% block tittle %} RC     <span class="header-russion-font">Настройки</span>     {% endblock %}
{% block columns %}
    <h2 class="col-lg-6 col-md-10 col-sm-12">
  {% endblock %}
{% block h1 %} {{ user.get_full_name }} {% endblock %}

{%  block card_form %}
    <h2>{{ user.username }}</h2>
                            <form method="post" novalidate>
                                {% csrf_token %}



                                {% define   user_form as form %}
                                {% include 'includes/formsonecolumn.html' %}
                                {% define   profile_form as form %}
                                {% include 'includes/formsonecolumn.html' %}
                                <button class="btn btn-primary btn-block mt-2">
                                    {% block button-caption %}
                                    Сохранить
                                    {% endblock %}
                                </button>
                            </form>
{% endblock %}
</div>
{%  block card-footer %}
{% endblock %}


  {% block footer %}
                <div class="text-center py-2 " id="account-footer">
                    <a href="{% url  'view' %}" class="text-muted">
                        Вернуться к заявкам
                    </a>
                </div>
                {% endblock %}


