{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая заявка</title>
</head>
<body>
<h1>Новая заявка</h1>
    <form method="post" novalidate id="new-request-form">
          {% csrf_token %}
           <div id="new-request-error-message"></div>
          {% include 'includes/forms.html' %}
           <input type="submit" class="btn btn btn-outline-secondary  mt-2 btn-sm" value="Сохранить">


          <a  href="{%  url 'list_view' %}" class="btn  mt-2 btn-outline-secondary btn-sm" id="new-request__btn-close" >Выйти</a>

    </form>
</body>
</html>