{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link href="{% static 'css/home-list/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/add_bootstrap/style.css' %}" rel="stylesheet">


    <!--<link href="{% static 'css/form-correct.css' %}" rel="stylesheet">-->

{% endblock %}
{% block title-block %}
    {% include 'baseviews/../includes/filter/top_pagination.html' %}
    <div class="container">
    <div class="table-title-row">
     <div class="row">


              <div class="col-1">
                  №
              </div>
              <div class="col-5 d-none d-sm-block">
                О чем заявлено
              </div>

               <div class="col-2 d-none d-lg-block">
                    Поступила
                </div>
                <div class="col-1 d-none d-lg-block">
                     Место
                </div>
                <div class="col-1 d-none d-lg-block">
                     Выезды
                </div>

                <div class="col-1 d-none d-lg-block">
                    Куратор
                </div>
                <div class="col-1 d-none d-lg-block">
                    Закрыл
                </div>
                <div class="col-11 col-md-6 col-sm-6 visible-md d-block d-lg-none">
                    Инфрмация
                </div>

    </div>
    </div>
    </div>
{%endblock %}
{% block content %}

    {% include 'includes/filter/filter-content.html' %}

{%  endblock %}
 {% block  shownblock %}
    {% include 'includes/filter/filter_modal_form.html' %}
     {% include 'includes/filter/empty_modal.html' %}
  {% endblock %}
{%  block footer %}




   <button class="btn  btn-sm" type="button" data-toggle="modal" data-target="#exampleModal">Фильтр</button>
   <a href="{% url 'base_create_view' %}" class="btn  btn-sm" type="button" >Новая заявка</a>

   <button id="btn-new-request" class="btn  btn-sm" type="button" data-toggle="modal" >Новая заявка</button>







{% endblock %}
{% block scripts %}
    <script src="{% static 'js/base-view/request-filter/script.js' %}"></script>
{% endblock %}