
{% load static %}
<div class="wait-block"  ID="wait"></div>
<div class="content-block container" id="main-list">
 <div class="row hidden" id="first-row"  >
<div class="col-1 centered">
    <small> <span class="align-content-center number-column number" >jh</span></small>

                <div class="hidden id"><a href="#"></a></div>             </div>
             <div class="col-3 col-sm-5 col-lg-3 d-none d-sm-block name">
               Название
             </div>
             <div class="col-3 col-sm-5 col-md-8  d-none d-sm-block">
                 <i class="description"></i>

             </div>
             <div class="col-11 col-md-6 col-sm-6 visible-md  d-block d-lg-none">
                    <span class="name">Андрей</span><br>
                    <i class="description"></i>

             </div>
 </div>
</div>