{% load static %}
<div class="container">
        <div class="row">
             <div class="col-1 align-content-center centered ">
                 <small><span class="align-content-center number-column number" >№</span></small>

             </div>
             <div class="col-3  col-sm-5 col-md-3 d-none d-md-block d-sm-none">
               Название
             </div>
             <div class="col-3 col-sm-5 col-md-8  d-none d-md-block">
               Описание
             </div>
             <div class="col-10  visible-md  d-block d-md-none" >
                    Описание
             </div>
        </div>
</div>