{% extends 'test2/request-list.html' %}
{% load static %}
   {% block nameapp %} <div class="name_app">Справочники</div> {% endblock %}
{% block top-refs %}

{% endblock %}
{% block top-popu-refs %}
    <li><a href="{% url 'view' %}" >Заявки</a></li>
    <li class="max-hided"><a href="{% url 'dictionary_department' %}" >Департамент</a></li>
    <li class="max-hided"><a href="{%  url 'dictionary_places' %}">Станции</a></li>
    <li class="max-hided"><a href="#">Пользователи</a></li>
{% endblock %}
{% block right-menu %}
                    <ul class="row-menu">
                      <li><a href="{% url 'dictionary_department' %}">Департамент</a></li>
                      <li><a href="{%  url 'dictionary_places' %}">Станции</a></li>
                      <li><a href="#">Пользователи</a></li>
                  </ul>
            {% endblock %}
{% block title-two %}

        <div class="header-row dictionary-menu-row">
            <div class="container">
                 <h2 class=" dictionary-header">{{ name_obj }}</h2>

            </div>

        </div>




  {% endblock %}

{% block title-table%}


{% endblock %}
{% block content %}


{% endblock %}
{% block footer %}
    <div class="container">
     <div class="row">

        <button id="btn-new-dictionary" class="btn  btn-sm" type="button"  ></button>
         <button id="btn-update-dictionary" class="btn  btn-sm" type="button"  >Обновить список</button>
     </div>
    </div>

{% endblock %}
{% block wind1 %}
     <div id="new-form-container">
        <div id="newModal"  style="display: none;">

            <div class="box-modal" id="new-form-block">
               <div class="block top-block">
                <div class="box-modal_close arcticmodal-close">X</div>
                      <div class="number-new" id="number-new"></div>
                </div>
                <div class="block main-block">
                </div>
                <div class="block">
                    {% if can_save %}

                    <button  type="button" class="btn btn-smm" id="save-new-dictionary">Сохранить</button>

                    {% endif %}
                    <button type="button" class="btn btn-smm arcticmodal-close"  id="new-dictionary__btn-close" > Отменть  </button>
                {% if can_save %}
                    <button type="button" class="btn btn-smm  hiden"  id="new-dictionary__btn-new" >  </button>
                {% endif %}
                <div id="cansave" class="hidden">{{ can_save }}</div>

                </div>
            </div>
        </div>
    </div>
    <div id="new-form-container">
        <div id="newModal"  style="display: none;">
        </div>
    </div>


    <div id="update_dictionary_container">
        <div id="updateDictionaryModal"  style="display: none;" >

        </div>

    </div>

{#            <div class="wait-block">Сохранение заявки</div>#}


{% endblock %}
{% block scripts %}
  <script src="{% static 'libraries/jquery-3.2.1.min.js'%}"> </script>

  <script src="{% static 'libraries/jquery.arcticmodal-0.3.min.js' %}"></script>
 <script src="{% static 'libraries/jquery-ui-1.12.1.custom/jquery-ui.js'%}"></script>
<script src="{% static 'libraries/air-datepicker-master/js/datepicker.js' %}"></script>

 <script src="{% static 'js/../../static/test2/script/select-widjet.js' %}"></script>
 <script src="{% static 'js/../../static/test2/script/init_form_widget.js' %}"></script>
 <script src="{% static 'js/const_name_ru.js' %}"></script>
    <script src="{% static 'js/workWithForm.js' %}"></script>

 <script src="{% static 'js/dictionaries/dictionar-open.js' %}"></script>
 <script src="{% static 'js/dictionaries/dictionary_new.js' %}"></script>
 <script src="{% static 'js/dictionaries/dictionary_update.js' %}"></script>
    <script src="{% static 'js/dictionaries/dictionary_delete.js' %}"></script>
    {% block addObjectScript %}

    {%endblock %}


{% endblock %}