<div class="wait-block"  ID="wait"></div>
<div class="content-block container" id="main-list">
 <div class="row hidden" id="first-row"  >
            <div class="col-1 centered">
                <small> <span class="align-content-center number-column number" >jh</span></small>

                            <div class="hidden id"><a href="#"></a></div>
            </div>
             <div class="col-3 col-sm-3 col-md-3 d-none d-sm-block  name">
               Название
             </div>
            <div class="col-1 col-lg-1  d-none d-lg-block  geo_point">
               Гео поин
            </div>
            <div class="col-4  col-lg-3  d-none d-lg-block  adres ">
                Адрес
            </div>
            <div class="col-4   col-sm-4 col-md-4  d-none  d-sm-block    d-lg-none">
                <span class="adres">Адрес</span><br>
                <small class="text-muted">Отметка</small><br>
                <span class="text-muted geo_point"></span>
            </div>

            <div class="col-4 col-sm-4 col-md-4 col-lg-2 d-none d-sm-block  to_place">
               К обьекту
            </div>

            <div class="col-4 col-sm-5 col-md-3 col-lg-2 d-none d-lg-block  note">
               <i class="note">Описание</i>
            </div>


             <div class="col-11  visible-sm  d-block d-sm-none">
                    <span class="name">Андрей</span><br>
                 <small class="text-muted">Адрес</small><br>
                 <span class="adres">Адрес</span><br>
                 <small class="text-muted">Отметка</small><br>
                <span class=" geo_point"></span><br>
                 <small class="text-muted" >К обьекту</small><br>
                <span class="text-muted  to_place"></span>


             </div>
 </div>
</div>