{% load static %}
<div class="container">
        <div class="row">
            <div class="col-1 centered">
                №
            </div>
             <div class="col-3 col-sm-4 col-md-1 d-none  d-md-block  ">
               Имя
             </div>
             <div class="col-3 col-sm-5 col-md-2 d-none d-md-none d-sm-block ">Имя
             </div>
           <div class="col-1 col-md-3 col-lg-2  d-none d-md-block  ">
               Фамилия Имя
            </div>
            <div class="col-1 col-sm-6 col-md-4  d-none d-lg-none d-sm-block d-none  ">
                Должность
            </div>
            <div class="col-4  col-md-2  d-none d-md-block  ">
               Тип пользователя
            </div>
           <div class="col-4  col-md-3  col-lg-2 d-none d-lg-block    ">
                Департамент
            </div>

            <div class="col-4 col-sm-5 col-md-2 col-lg-2 d-none d-lg-block col-lg-2    ">
               Должность
            </div>


            <div class="col-4  col-md-2  d-none d-lg-block  col-lg-2 ">
               Дата создания
            </div>



           <div class="col-11  visible-sm  d-block d-sm-none">
                  Описание
           </div>

        </div>
</div>