<div class="wait-block"  ID="wait"></div>
<div class="content-block container" id="main-list">
 <div class="row hidden" id="first-row"  >
            <div class="col-1 centered">
                <small> <span class="align-content-center number-column number" >jh</span></small>

                            <div class="hidden id"><a href="#"></a></div>
            </div>
     <div class="col-3 col-sm-4 col-md-1 d-none  d-md-block  ">
             <span class=" username">Имя</span>
     </div>
            <div class="col-3 col-sm-5 col-md-2 d-none d-md-none d-sm-block ">
                <span class=" username">Имя</span><br>
                <span class="full_name">Фамилия Имя</span><br>
                <span class="text-muted">Тип пользователя </span>
                <span class="group_name"></span>
             </div>
            <div class="col-1 col-md-3 col-lg-2  d-none d-md-block  full_name">
               Фамилия Имя
            </div>
            <div class="col-1 col-sm-6 col-md-4  d-none d-lg-none d-sm-block d-none  ">


                <span class="user_department"></span><br>
                <span class="user_position"></span><br>

            </div>
            <div class="col-4  col-md-3 col-lg-2  d-none d-md-block   group_name">
                Группа
            </div>
            <div class="col-4  col-md-3  col-lg-2 d-none d-lg-block     user_department">
                Департамент
            </div>

            <div class="col-4 col-sm-5 col-md-2 col-lg-2 d-none d-lg-block col-lg-2   user_position">
               Должность
            </div>


            <div class="col-4  col-md-2  d-none d-lg-block  col-lg-2 ">
                <small class="text-muted date_join"></small>

            </div>



             <div class="col-11  visible-sm  d-block d-sm-none">
                 <span class=" username">Имя</span><br>
                <span class="full_name">Фамилия Имя</span><br>
                <span class="text-muted">Группа </span>
                <span class="group_name"></span>
                 <small class="text-muted">Должность</small><br>
                <span class="user_department"></span><br>
                <span class="user_position"></span><br>
             </div>
 </div>
</div>