{% load static %}

                    <div class="wait-block" id="newModal_wait"></div>
                     <form method="post" novalidate id="new-request-form">
                     {% csrf_token %}
                        <div class="container-fluid">
                            <div id="new-request-error-message"></div>
                                {% include 'includes/arctic-form/form.html' %}
                                <div class="hiden">
                                {%  for user in  form.request_user.field.queryset.all %}
                                    <div id="user-{{ user.id }}">
                                        <div class="position">{{ user.user_position}}</div>
                                        <div class="department">{{ user.deparment.name }}</div>
                                    </div>

                                {% endfor %}
                                </div>
                        </div>
                        {% include 'includes/hiden_profiles.html' %}
                        <div class="hidden"></div>
                     </form>
                     <div class="row">
                        <div class="alert hidden" id="new-form__message">
                            <p></p>
                        </div>
                     </div>
